# Archivos y carpetas generadas automáticamente
#############################################
*~.nib
*.swp
*.xcuserdatad
*.xcuserstate
DerivedData/
build/
.DS_Store
.TemporaryItems

# Dependencias (si usas CocoaPods o Carthage)
#############################################
Pods/
Carthage/Build/

# Archivos específicos de tu Mac
#############################################
.vscode/ # Si usas VS Code para algo
.swiftpm/ # Si usas Swift Package Manager

# Archivos de la firma de código (Code Signing)
#############################################
*.mobileprovision